* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
    --btn-bg: #2e80ce;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 205px;
    padding: 15px 46px;
    background: var(--btn-bg);
    border: 1px solid var(--btn-bg);
    border-radius: 33px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.02em;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

/* Header */
.header {
    min-height: 100vh;
    background: var(--header-bg);
}

.fixed {
    position: sticky;
    top: -22px;
    z-index: 2;
}

.header-top {
    background: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 8px;
}

/* Logo */

.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    color: #fff;
    margin-left: 0.6em;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    text-align: right;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
}

/* Navbar */
.navbar__list {
    display: flex;
    gap: 42px;
}

.navbar__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.navbar__link--active,
.navbar__link:hover {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active {
    display: flex;
    align-items: center;
}

.navbar__link--active::before {
    content: "";
    margin-right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__btn--login {
    margin-right: 28px;
    color: #c9d2da;
    text-align: right;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.header-action__btn--signup {
    min-width: 104px;
    padding: 8px 20px;
    border-radius: 22px;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    /* gap: 113px; */
    margin-top: 68px;
}

.hero__content {
    flex-shrink: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 44.2%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone-number {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.hero__media {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    object-fit: cover;
    object-position: center;
}

.hero__img:first-of-type {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    z-index: 1;
}

.hero__img:last-of-type {
    position: relative;
    left: -6px;
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}

/* Service */

.service {
    margin-top: 170px;
}

.service__heading,
.service__desc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 468px;
}

.service-row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
}

.service-item {
    width: 470px;
    display: flex;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 1s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #ffffff;
    background: #2e80ce;
}

.service-item__icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    margin-right: 19px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
    color: #10375c;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.service-item__btn {
    margin-top: 55px;
}

/* Work */
.work {
    margin-top: 170px;
    padding: 100px 0 116px;
    background: #f6fbff;
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    flex: 1;
    border: 16px solid #eaf6ff;
    padding: 43px 42px 43px 42px;
    border-radius: 4px;
    transition: 0.6s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work-item__heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    color: #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* Feature */

.feature {
    margin-top: 170px;
}

.feature__inner{
    display: flex;
    align-items: center;
    gap: 130px;
}

.feature__media {
    width: 48.7%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    /* position: absolute; */
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
}

.feature__img:first-child {
    width: 512px;
    height: 370px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__btn{
    margin-top: 38px;
}